[Unit]
Description=Daemon for dolos proxy
DefaultDependencies=no
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/dolosd
ExecStartPre=/etc/systemd/system/dolosd.d/prestart.sh
RemainAfterExit=yes
ExecStop=/etc/systemd/system/dolosd.d/poststop.sh

[Install]
WantedBy=default.target
